body {
    font-family: 'DINPro-Regular';
    font-weight: normal;
    color: #323439;
}

p {
    margin-bottom:19px;
    font-size:15px;
    line-height: 21px;
}

.customizer {
  position: fixed;
  display: block;
  color: #222222;
  text-align: center;
  padding: 5px 15px 15px;
  width: 260px;
  background: #fff;
  top: 105px;
  left: 0;
  line-height: 1.5;
  z-index: 1000;
  -ms-transform: translateX(-260px);
  -webkit-transform: translateX(-260px);
  transform: translateX(-260px);
  -webkit-transition: all, 0.3s;
  -ms-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -transition: all, 0.3s;
  transition: all, 0.3s;

  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;

  -webkit-box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.1);
}
.customizer.opened {
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.customizer .customizer-button {
  background: #fff;
  color:#222222;
  display: block;
  height: 45px;
  width: 45px;
  text-align: center;
  font-size: 26px;
  line-height: 45px;
  position: absolute;
  right: -44px;
  top: 160px;
  z-index: 101;
  cursor: pointer;
  overflow: hidden;

  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;

  -webkit-box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.1);
}
.customizer-item h5{
  color: #222222;
  font-family: "Roboto", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 14px;
  margin: 15px 0 5px;
}
.customizer-item ul {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}
.customizer-item ul li {
  list-style-type: none;
  display: inline-block;
  padding: 5px;
  width: 48%;
  font-size: 13px;
}
.customizer-item ul li span{
  display: block;
  cursor: pointer;
  color: #7a7a7a;
  font-weight: 500;
  font-size: 13px;
  text-align: center;
  width:100%;
  line-height: 13px;
  padding: 10px 15px;
  border: 2px solid #dadada;
}
.customizer-item ul li span:hover,
.customizer-item ul li.active span{
  background: #7a7a7a;
  color:#fff;
  border-color: #7a7a7a;
}
.customizer-colors ul li {
  list-style-type: none;
  display: inline-block;
  width: 30px;
  height: 33px;
  margin: 5px 2px 3px;
  padding: 0px;
}
.customizer-colors ul li span{
  display: block;
  width: 100%;
  height: 100%;
  line-height: 40px;
  background-color: #fff;
  margin: 0px;
}
.customizer-colors ul li:hover,
.customizer-colors ul li.active span{
  border-color: #7a7a7a;
}
@media (max-width: 991px) {
  .customizer{
    display: none;
  }
}

/* Color1 style: White Color */
.customizer-colors ul li.template-color1 span{ background: #ffffff; }
/* Color2 style: Orange Color */
.customizer-colors ul li.template-color2 span{ background: #ff6600; }
/* Color3 style: Red Color */
.customizer-colors ul li.template-color3 span{ background: #ff4106; }
/* Color4 style: Blue Color */
.customizer-colors ul li.template-color4 span{ background: #00acec; }
/* Color5 style: Green Color */
.customizer-colors ul li.template-color5 span{ background: #89b21c; }
/* Color6 style: Black Color */
.customizer-colors ul li.template-color6 span{ background: #1d1d1d; }

.customizer-bg ul li.no-background span{
  background-color: #fff;
}


body.archive, body.post-type-archive {background: #bfbfbf url('../images/home-bg.jpg') no-repeat center -541px; background-size: cover; }


/* -----------------------------------------------------------
==========================================================
ADMAG - Responsive Blog & Magazine HTML Template
Custom Styles
==========================================================
------------------------------------------------------------ */

p > a, h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {font-family: inherit !important; font-size: inherit !important; color: inherit !important; font-weight: inherit !important;}

.va {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

a, a:visited {
    color: #de0b25;
    text-decoration: none;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

a:focus, a:hover {
    color: #de0b25;
    text-decoration: underline;
}

/* Nav Color3 */
.navbar-nav>li.open.menu-color3>a,
.navbar-nav>li.open.menu-color3>a:after{
  color: #de0b25;
  border-top-color: #de0b25;
}
.nav .menu-color3 .tabs-left > .nav-tabs > li > a:hover, 
.nav .menu-color3 .tabs-left > .nav-tabs > li.active > a{
  color:#de0b25;
}
.mega-menu .menu-color3 .dropdown-submenu:hover>a:after,
.nav .menu-color3 .tabs-left > .nav-tabs > li.active>a:after{
  border-left-color:#de0b25;
}
.menu-color3 .dropdown-menu .mega-menu-news .mega-menu-detail h4 a:hover{
  color:#de0b25;
}
.mega-menu .menu-color3 .dropdown-menu > li > a:hover, 
.mega-menu .menu-color3 .dropdown-submenu:hover>a{
  color:#de0b25;
}


.header-big .main-wrapper, .header-style3 .main-wrapper {
    padding-top: 183px;
}

.suscribe-banner {max-width: 744px; margin: 10px auto -16px}

.gray {background: #f1f1f2;}
.text-gray {color: #f1f1f2;}

.no-mar {margin: 0 !important;}

.no-pad {padding:0 !important;}


/*
   HEADER:
*/

.header-top {
    width: 100%;
    background: #323439;
    padding: 4px 0;
    color: #fff;
}

.header-top ul{
    margin:5px 0;
    padding: 0px;
    list-style: none;
}
.header-top ul li{
    float: left;
    line-height: 13px;
    margin: 0;
}
.header-top .top-menu li {
    font-size: 13px;
    margin: 0px 10px 0px 0px;
    border-right: 0 none;
    padding-right: 0px;
}
.header-top .top-menu li:last-child{
    border:none;
}
.header-top .top-menu li a{
    color:#fff;
    border-bottom: 0 none;
    font-size: 13px;
}

.social-list-head li a {
    display: block;
    text-align: center;
    border: 0 none;
    width: 24px;
    height: 24px;
    font-size: 13px;
    line-height: 24px;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: #4b4b4b;
}

ul.ul-login {margin-top: 9px;}

ul.ul-login li {
    margin:0 7px 0;
    padding:0 0px 0 0;
    list-style: none;
    display: inline-block;
    line-height: 13px;
}

ul.ul-login li a, ul.ul-login li a:visited {
    color: #fff;
    font-size: 13px;
    display: block
}

ul.ul-login li a > i {font-size: 16px; margin-right: 4px;}

.head-title {margin: 32px 0 10px; color:white; font-size: 23px; line-height: 100%;}

#que-content {width: 100%; margin-top: 21px}

.clogo {display: inline-block}

.header-mid {
    background:#de0b25;
    padding: 0px 0;
    border-bottom: 0 none;
    min-height: 88px;
}

.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
    border:0 none;
    border-radius: 14px;
    padding-left: 0;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.input-group-addon {
    padding: 6px 8px 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #222;
    text-align: center;
    background-color: #eee;
    border: 0 none;
    border-radius: 14px
}

.navbar-nav>li>a:hover, .navbar-nav>li>a:focus {
    color: #de0b25;
    background: #eee;
}

.ad728-wrapper a {
    display: block;
    background: transparent;
}

.widget .nav-tabs>li.active>a, .widget .nav-tabs>li.active>a:focus, .widget .nav-tabs>li.active>a:hover {
    color: #222222;
    background: none;
    border: none;
    border-bottom: 2px solid #de0b25;
}


/*
   CONTENIDO:
*/
.bloque {
    padding: 0;
    margin-bottom: 22px;
    width: 100%;
}

.sectittle {text-transform: uppercase; }

.bloque.hor {
    padding: 0 20px;
    margin-bottom: 40px;
}

.simple-post {
    padding: 0px 0px 23px;
}

.simple-thumb, .author-thumb {margin-right: 25px}

.simple-thumb .featured-video-plus.post-thumbnail {height: 180px;}

.simple-thumb .featured-video-plus.post-thumbnail iframe {
    max-width: 100%;
    min-height: 100%;
}

.news-block{
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}
.news-block img{
    width:100%;
    height: auto;
}

.image-overlay{
    position: relative;
    display: block;
    background: #000;
    overflow: hidden;
    /*height: 196px;*/
}

.overlay-link{
    outline: none;
    text-decoration: none;
}

.news-details{
    color: #808284;
    position: relative;
    margin-top:0px;
    padding:10px 20px 0px;
    background: transparent;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin-right: 0px;
    margin-left: 0px;
    z-index: 10;
}
.news-title{
    font-family: "Noto Serif", serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
    margin-top:0px;
    margin-bottom: 15px;
    color:#333;
}
.small-block .news-title{
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 10px;
}
.small-block .news-details{
    margin-top: 0px;
    padding-top: 10px;
}

.meta {
    overflow: hidden;
    color: #de0b25;
    width: 100%;
    margin-bottom: 7px;
}

.simple-share {color: #de0b25;}

.meta a, .meta a:visited, .simple-share a {
    display: inline-block;
    color: #de0b25 !important;
    text-transform: uppercase;
    margin-right: 3px;
    font-weight: 600;
}

.meta .article-date, .simple-share span {
    color: #808284;
    margin-left: 2px;
}

.big-block .news-title{
    font-size: 40px;
    line-height: 46px;
}
.big-block .news-details{
    margin-top: 0px;
    padding-top: 15px;
}

.big-block .image-overlay{
    position: relative;
    display: block;
    overflow: hidden;
    background: #000;
    height: 408px;
}

.news-title a{
    color:#222222;
}

.widget-content li h3 a:hover,
.news-title a:hover,
.simple-post h3 a:hover,
.widget-post h3 a:hover,
.categorywidget li a:hover,
.categorywidget li a:hover span,
.comments-wrapper .comment-reply-link,
.post-wrapper .simple-share a,
.parallax-wrapper .simple-share a{
    color:#de0b25 !important;
    text-decoration: none !important;
}

.page-nav {width: 100%; margin-top:22px; overflow: hidden}

.page-nav-2 {float: right}

.page-nav-2 .page-index {}

section.bottom-search {
    padding: 22px;
}

section.bottom-search > h3 {text-transform: uppercase; margin-top: 0; font-size: 24px;}

.datap {
    width: 100%;
    font-size:16px;
    color:#de0b25;
    margin-bottom: 23px;
    text-transform: uppercase;
    font-weight: 500;
}

.datap p {
    font-size:16px;
    color: inherit;
    font-weight: inherit;
}

.datap span {color: #58585b; font-weight: inherit;}

.el-contenido p {
    font-size:15px;
    color: #58585b;
    font-family: 'Raleway', sans-serif;
}

#afc {
    width: 100%;
    display: flex;
    margin-top: 10px;
    clear: both;
}

#afc > div {
    width: 36%;
    padding: 0px;
}

#afc h5 {
    font-family: 'DINPro-Regular';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    margin:10px 0 12px;
}
#afc .afavor h5 {color: #04a508}
#afc .encontra h5 {color: #de0b25}

#afc h5 i {font-size: 25px; margin-left: 7px}

#afc p {
    font-family: 'DINPro-Regular';
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #58585b;
    margin-bottom: 10px;
}


.nav-pills.tabottom>li:last-child {margin-left: 0 !important;}


/* DESDE ACÁ LOS ESTILOS DE LA TABLA DE LA PESTAÑA COMPETIDORES */
.modelo-seleccionado{
    border:solid 2px #3b3e43;
    min-height: 60px;
}

.row.modelo-seleccionado .wcontent {
    display: flex;
    justify-content: flex-end;
    height: 36px;
    align-items: center;
}

.row.modelo-seleccionado .wcontent .atributto {margin-right: 12px; font-weight: bold}

.mini-thumb {
    overflow: hidden;
}

.no-pad-left{
    padding-left: 0;
}

.tittulo{
    padding-top: 1.22em!important;
}

.califf{
    list-style: none;
    padding-left: 0;
    margin-top: -8px;
}

.atributto,
.datto{
    font-family: 'DINPro-Regular';
    color:  #323439;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-transform: uppercase;
}

.datto{
    color:  #de0b25;
}

.img-compet{
    position: relative;
}

.img-compet a.category {z-index: 3000; position: absolute}

.los-competidores{
    margin-top: 25px;
    margin-bottom: 30px;
}

.txt-compet{
    padding-top: 10px;
}

.mmodelo,
.mmarca{
    font-family: 'DINPro-Regular';
    color:  #323439;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
    padding: 3px 0;
    text-transform: uppercase;
}

.tit-texto {padding-top: 9px}

.tit-texto, .tit-texto p {
    color:  #58585b;
    font-size: 14px;
    margin-bottom: 17px;
    font-family: 'Raleway', sans-serif;
}

a.clm, a.clm:visited{
    font-family: 'DINPro-Regular';
    color:  #de0b25;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
    text-transform: uppercase;
}

/* ******************** */


/* DESDE ACÁ LOS ESTILOS DE LA TABLA DE LA PESTAÑA DE EQUIPAMIENTO */

.cabecera-equipamiento{
    position: relative;
    width: 100%;
    margin-bottom: 11px;
}

.codigos-int{
    position: absolute;
    right: 5px;
    top: 3px;
}

.verde{
    color:green;
    font-weight: 900;
}
.rojo{
    color:red;
    font-weight: 900;
}
.gris{
    color:grey;
    font-weight: 900;
}

td.concepto{
    width: 70% !important;
    margin:0;
    padding: 9px 14px 4px !important;
}

td.equipo {
    width: 9% !important;
    margin:0 !important;
    padding: 9px 14px 4px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center;
}

td.equipo span > i {font-size: 19px}


/*
   SIDEBAR:
*/
.cus-adwidget {
    text-align: center;
    padding: 20px;
    border: 0 none;
}
.cus-adwidget {
    margin-bottom: 10px;
}



/*
   FOOTER:
*/

.footer-main .social-list {display: inline-block; margin-bottom: 11px !important;}

.social-list li a {
    display: block;
    text-align: center;
    border: 1px solid #dadada;
    width: 44px;
    height: 44px;
    font-size: 22px;
    line-height: 44px;
    color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.block-title span {
    border-bottom: 2px solid #de0b25;
    display: inline-block;
    line-height: 17px;
    height: 27px;
}

.footer-main p {
    color: #fff;
    font-size: 18px;
}

.footer-bottom p, .footer-bottom ul {color: #fff; font-size: 14px;}

.footer-main {
    padding-top: 50px;
    padding-bottom: 30px;
}

.footer-bottom a:hover {
    color: #fff;
    border: none;
    text-decoration: underline;
}

ul.foo-simple-list {
    margin:0;
    padding:0;
    list-style: none;
    display: inline-block;
}

ul.foo-simple-list li {
    margin:0 5px 0 0;
    padding:0 10px 0 0;
    list-style: none;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    background: url('../images/sep-list-simple.jpg') no-repeat right center;
}

ul.foo-simple-list li:last-child {background: none;}

ul.foo-simple-list li a, ul.foo-simple-list li a:visited {
    color: #fff;
    font-size: 18px;
    display: block
}


/*
   Seccion Pruebas:
 */

#exTab1 {width: 100%; margin-bottom: 22px;}

#exTab2 {width: 100%; margin-bottom: 22px;}

.tab-content {
    padding : 0;
}

#exTab1 .nav>li>a, #exTab1 .nav>li>a:visited {
    border-radius: 0;
    position: relative;
    display: block;
    padding: 0px 5px;
    font-family: 'DINPro-Regular';
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    width: 179px;
    height: 54px;
    line-height: 54px;
    background: url('../images/tabs-dark.jpg') no-repeat -181px 0;
    transition: none;
    text-align: center;
    color: #323439;
}

.nav-pills.tatop li.opiniones > a, .nav-pills.tatop li.opiniones > a:visited {
    font-size: 14px !important;
}

#exTab1 .nav.tabottom>li>a, #exTab1 .nav.tabottom>li>a:visited {
    background: url('../images/tabs-red.jpg') no-repeat -216px 0;
    width: 214px;
    height: 53px;
    line-height: 53px;
}

#exTab1 .nav>li>a:hover, #exTab1 .nav>li>a:active, #exTab1 .nav>li.active>a {
    background-position: 0 0;
    color: white;
}

.ptitle {
    width: 100%;
    background: #323439;
    height: 76px;
    padding:0 40px
}

.ptitle > h1 {
    margin: 0;
    font-weight: 700;
    font-size: 41px;
    line-height: 72px;
    color: #fff;
    font-family: 'DINPro-Regular';
}


#performance .table-responsive {margin-bottom: 0px}

.table {
     width: 100%;
     max-width: 100%;
     margin-bottom: 30px;
     border:2px solid #cacacc;
     border-top:0 none;
}

.table caption {
    color: #323439;
    font-family: 'DINPro-Regular';
    font-size: 16px;
    font-weight: bolder;
    text-align: left;
    border:2px solid #cacacc;
    border-bottom-color: #de0b25;
    padding: 8px 14px;
    background:#f1f1f2;
    text-transform: uppercase;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px 14px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: #323439;
    width: 50%;
}

.table.condipruebas {
    background: #373737;
    border-color:#373737;
}

.table.condipruebas>tbody>tr>td {border-color:#373737; color:white}

.table.condipruebas caption {border-color:#373737; color:white; background: #373737}

.aclaraciones {
    clear: both;
    width: 100%;
    margin-top: 16px;
}

#datos-al-pie {
    clear: both;
    width: 100%;
    margin-top: 30px;
    background: #373737;
    color:white;
    padding: 14px 0px 20px;
}

#datos-al-pie > ul {
    width: 100%;
    margin:20px 0 0;
    padding:0;
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
}

#datos-al-pie > ul > li {
    display: inline-block;
    width: 277px;
    height: 167px;
    margin:0 0px 0 0;
    padding:68px 28px 0;
    list-style: none;
    border-right: 2px solid white;
}

#datos-al-pie > ul > li:last-child {border:0 none}

#datos-al-pie > ul > li.fabricante {
    background: url("../images/fabricante-footer.jpg") no-repeat center top;
}

#datos-al-pie > ul > li.origen {
    background: url("../images/origen-footer.jpg") no-repeat center top;
}

#datos-al-pie > ul > li.garan {
    background: url("../images/garantia-foo.jpg") no-repeat center top;
}

#datos-al-pie > ul > li.lanza {
    background: url("../images/lanzamiento-footer.jpg") no-repeat center top;
}

#datos-al-pie h4 {
    text-transform: uppercase;
    margin:0px 0 0;
    color: #fff;
    font-family: 'DINPro-Regular';
    font-size: 15px;
    line-height: 20px;
    font-weight: bold;
    }

#datos-al-pie h4 > span {
    color: white;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 15px;
    display: block;
}

#datos-al-pie .valor {
    text-transform: none;
    color: #fff;
    font-family: 'DINPro-Regular';
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    margin-top:26px;
}

/*
   Widgets:
 */

.widget.my-custom-widget {
    width: 100%;
    background: white;
    max-width: 340px;
    margin-right: auto;
    margin-left: auto;
    border:1px solid #323439;
}
.widget.my-custom-widget.wdark {
    background: #323439;
}
.widget.my-custom-widget.wred {
    background: #de0b25;
}


.my-custom-widget ul {
    margin:0;
    padding: 4px 18px;
    list-style: none;
    }
    .my-custom-widget ul li {
        margin:8px 0;
        padding: 0;
        display: block;
        list-style: none;
        font-family: 'Raleway', sans-serif;
        font-size: 15px;
        font-weight: normal;
        color:#323439;
        }
        .my-custom-widget.wdark ul li {color:#eaeaea;}

        .my-custom-widget .calif {
            font-weight: 700;
            font-size: 16px;
            font-family: 'DINPro-Regular';
            border-bottom: 2px solid #323439;
            padding-bottom: 2px;
            text-transform: uppercase;
            margin-top: 0;
            width: 100%;
            color:#323439;
            padding: 5px 18px 0;
            }
            .my-custom-widget.wdark .calif {border-color: #eaeaea; color: #eaeaea}

        .my-custom-widget .total {
            font-weight: 700;
            font-size: 16px;
            font-family: 'DINPro-Regular';
            background: #de0b25;
            text-transform: uppercase;
            margin: 0;
            width: 100%;
            color: white;
            padding: 0 18px 3px;
            }
        .my-custom-widget ul li a, .my-custom-widget ul li a:visited {
             display: block;
             }

.wcontent {
    display: flex;
    justify-content: space-between;
    height: 36px;
    align-items: center;
}

.wcontent > div {width: auto; overflow: hidden}

.balls > ul {padding: 0;}

.balls > ul li {
    display: inline-block;
    margin: 8px 1px;
}



/*
   Galeria de los Singles:
 */

/* Elastislide Style */

.gallery {width: 100%; margin-bottom: 25px;}

.image-preview {width: 100%; height: auto}

.elastislide-list {
    list-style-type: none;
    display: none;
}

.no-js .elastislide-list {
    display: block;
}

.elastislide-carousel ul li {
    min-width: 20px; /* minimum width of the image (min width + border) */
}

.elastislide-wrapper {
    position: relative;
    background-color: #fff;
    margin: 0 auto;
    min-height: 80px;
    box-shadow: none
}

.elastislide-wrapper.elastislide-loading {
    background-image: url(../images/loading.gif);
    background-repeat: no-repeat;
    background-position: center center;
}

.elastislide-horizontal {
    padding: 7px 0px;
}

.elastislide-vertical {
    padding: 40px 10px;
}

.elastislide-carousel {
    overflow: hidden;
    position: relative;
}

.elastislide-carousel ul {
    position: relative;
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
}

.elastislide-horizontal ul {
    white-space: nowrap;
}

.elastislide-carousel ul li {
    margin: 0;
    -webkit-backface-visibility: hidden;
}

.elastislide-horizontal ul li {
    height: 100%;
    display: inline-block;
}

.elastislide-vertical ul li {
    display: block;
}

.elastislide-carousel ul li a {
    display: inline-block;
    width: 100%;
}

.elastislide-carousel ul li a img {
    display: block;
    border: 2px solid white;
    max-width: 100%;
}

/* Navigation Arrows */

.elastislide-wrapper nav span {
    position: absolute;
    background: #ddd url(../images/nav.png) no-repeat 8px 8px;
    width: 30px;
    height: 30px;
    border-radius: 0;
    text-indent: -9000px;
    cursor: pointer;
    opacity: 0.9;
}

.elastislide-wrapper nav span:hover {
    opacity: 1.0
}

.elastislide-horizontal nav span {
    top: 44%;
    left: 2px;
    margin-top: -11px;
}

.elastislide-vertical nav span {
    top: 10px;
    left: 50%;
    margin-left: -11px;
    background-position: -17px 5px;
}

.elastislide-horizontal nav span.elastislide-next {
    right: 2px;
    left: auto;
    background-position: 8px -14px
}

.elastislide-vertical nav span.elastislide-next {
    bottom: 10px;
    top: auto;
    background-position: -17px -18px;
}

.demo-4 .elastislide-horizontal {
    background-color: transparent;
    border-radius: 20px 20px 0 0;
}

.demo-4 .elastislide-horizontal.elastislide-loading {
    background-image: url(../images/loading_dark.gif);
}

.demo-4 .elastislide-carousel ul li a{
    padding: 2px;
}

.demo-4 .elastislide-carousel ul li a img {
    border-radius: 10px;
    border: none;
    box-shadow: 0 1px 2px #000;
}

.demo-4 .elastislide-wrapper nav span {
    background-color: #666;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);
}

.demo-4 .image-preview img {
    border-radius: 0 0 20px 20px;
    max-width: 100%;
    display: block;
}

.demo-4 .elastislide-carousel ul li.current-img a img {
    box-shadow: 0 0 3px 2px rgba(62,235,255,0.8);
}